.ViewerLogin .hero {
    width: 175px;
    height: auto;
}

.ViewerLogin form {
    max-width: 300px;
    margin: 10px auto;
}

.ViewerLogin .form-label {
    display: block
}

.ViewerLogin .form-text, .ViewerLogin .form-label {
    text-align: center;
}

.ViewerLogin .module {
    max-width: 700px;
}