.BattleSearch {
    width: 300px;
}

.SearchField {
    height: 35px;
}

.SearchField input {
    height: 35px;
    border-left-color: transparent;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.SearchField input:focus {
    border-color: #ced4da;
    border-left: none;
}

.SearchField .search-icon {
    height: 35px;
    background-color: white;
    border-right-color: transparent;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}