.CommentsSection {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 85vh;
}

.Comments {
    overflow: scroll;
}

.CommentsSection p {
    margin-bottom: 0px;
}

.NewViewerNotification, .Comment {
    border-top: 2px solid #F2F2F2;
    padding: 5px 2px;
}

.CommentsSection.module {
    padding: 10px;
}

.CommentsSection .user-name {
    color: #815587;
    font-weight: bold;
}

.Comment {
    text-align: left;
}

.CommentsSection .NewCommentForm {
    border-top: 4px solid #F2F2F2;
    text-align: left;
    margin-top: 10px;
}

.CommentsSection .NewCommentForm form {
    display: flex;
    margin-top: 10px;
    font-size: 14px;
}

.CommentsSection .NewCommentForm textarea {
    resize: none;
}