.BattleNotFound {
    max-width: 700px;
    margin-top: 20px;
}

.BattleNotFound p {
    margin-bottom: 0px;
}

.BattleNotFound .btn {
    margin: 20px 0;
}

.BattleNotFound .hero {
    margin-bottom: 15px;
}