.BattleRoom {
    background-color: #F2F2F2;
}

.module {
    background-color: white;
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    margin: 0px auto;
    top: 50px;
    position: relative;
    max-width: 700px;
}

.BattleNotFound p {
    margin-bottom: 0px;
}

.BattleNotFound .btn {
    margin: 20px 0;
}

.BattleNotFound .hero, .BattleNotStarted .hero {
    margin-bottom: 15px;
}

.PhoneNumberForm form {
    max-width: 300px;
    margin: 10px auto;
}

.BattleNotStarted .Confirmation {
    margin: 10px auto;
}

.PhoneNumberForm .form-text {
    text-align: center;
}