.App {
  text-align: center;
  background-color: #F2F2F2;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, h2, h3, h4, h5, h6, p {
    color: #333;
}

.form-group {
    text-align: left;
}

/* Removes the Chrome autofill input color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}

.App input:focus, input:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none !important;
}

.btn.cta, .btn.cta:focus, .btn.cta:active {
    background-color: #815587 !important;
    border-color: #815587 !important;
    color: white;
}

.btn.cta:hover:not([disabled]) {
    background-color: #815587;
    border-color: #815587;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    color: white;
}

.btn.cta:active {
    outline: none;
}

.App a, .App a:hover {
    color: #815587;
}

.module {
    background-color: white;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    margin: 0px auto;
    position: relative;
}

.error-message {
    color: #E7574E;
}

.App .row {
    margin: 0px;
}